<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails 8 Template" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- PWA manifest, favicons, etc. -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Your application CSS -->
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <!-- Font Awesome CDN for upload icon -->
    <%= stylesheet_link_tag(
          "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css",
          integrity: "sha512-pIFb5VYIon/UoBV/k2pzu1Dn+uZFt+fGqHB5PHw4GtpqGnnFEe0ncWEyrOTqejJg0HdB4yrjY59l+/lIHYqMWw==",
          crossorigin: "anonymous",
          referrerpolicy: "no-referrer",
          "data-turbo-track": "reload"
        ) %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
